// Colors
$portfolio-background-color: #172b4d;
$portfolio-main-color: #c5e9da;

// Fonts


.overall-wrapper {
  background: $portfolio-background-color;

  .header {
    min-height: 100vh;
  }

  .navbar {
    background: $portfolio-background-color;

    .navbar-brand {
      font: 800 25px/20px "Inter", sans-serif;
      color: $portfolio-main-color;
    }

    .nav-link {
      font: 600 15px/20px "Inter", sans-serif;
      color: $portfolio-main-color;
    }
  }

  .intro {
    top: 56px;
    max-width: 920px;
    padding-top: 40px;

    img {
      border: 2px solid $portfolio-main-color;
      width: 100px;
      height: 100px;
      object-fit: cover;
      object-position: 50% 15%;
    }

    h2 {
      font: 800 2.8125rem/60px "Inter", sans-serif;
      letter-spacing: 0.37px;
      color: $portfolio-main-color;
    }

    ul {
      list-style: none;
      right: 2.25%;
    }

    a {
      color: $portfolio-main-color;
    }

    .fas,
    .fab {
      transition: all .5s ease;
    }
  }
}

.navbar {
  .navbar-brand,
  .nav-link {
    &:hover {
      animation: pulse;
      animation-duration: 2s;
      font-size: 16px;
    }
  }

  .navbar-brand {
    &:hover {
      font-size: 25px;
    }
  }
}

.intro {
  .fas,
  .fab {
    &:hover {
      border: 1px solid $portfolio-main-color;
      background: $portfolio-main-color;
      color: $portfolio-background-color;
    }
  }
}
